@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Gelasio&family=Great+Vibes&family=Pacifico&family=Poppins:ital,wght@0,200;1,200&family=Sacramento&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.header
{
    width: 100%;
    height: 10vh;
    display: flex;
    padding: 20px 297px;
    background-color: rgb(242, 237, 242);
    box-shadow: 2px 4px 6px rgba(89, 87, 87, 0.468);
    justify-content:space-between;
    font-family: 'Gelasio', serif;
}
.image
{
    width: 40%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: -3%;
    margin-left: -40%;
}
.image img
{
    width: 100%;
    height:15vh;
}
.fixHeader
{
    position: fixed;
    top: 0;
    z-index: 10000;
}
ul
{
    display: flex;
} 
ul li
{
    margin-left: 10px;
}
ul li a
{
    color: rgb(20, 20, 20);
    font-size: 18px;
    padding:  4px 10px;
    /* border-radius: 8px; */
}
ul li a:hover
{
    padding:  4px 10px;
    background-color:rgb(3, 3, 101);
    color: #fff;
}
/* dropdown Start */
.dropdown 
{
    position: relative;
    display: inline-block;
}
.dropdown-items
{
    display: none;
    position: absolute;
    background-color: #f3f0f0;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.751);
    z-index: 1000;
}
.dropdown-items a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Gelasio', serif;
}
.dropdown-items a:hover 
{
    background-color:rgb(3, 3, 101);
    color: #fff;
}
.dropdown:hover .dropdown-items 
{
    display: block;
}
/* dropdown End */
/* search box start */
.searchBx
{
    position: absolute;
    right: 15px;
    top: 10px;
    border-radius: 20px;
    border: 2px solid rgb(3, 3, 101);
    outline: none;
    color: #000;
    padding:5px 25px;
    background-color: #fff;

}
.searchBx input
{
    background-color: transparent;
    padding: 5px;
    border: none;
    outline: none;
}
::placeholder
{
  color:rgb(3, 3, 101);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
}
/* search box End */
/* product banner start  */
.itemsbanner
{
    width: 100%;
    height: 10vh;
    display: flex;
    background-color:rgb(3, 3, 101);
    justify-content:space-around;
    margin-top: 15px;
}
.itemsbanner 
{
    display: flex;
}
.itemsbanner ul li 
{
    margin: 20px 20px;
}
.itemsbanner ul li .listbn
{
   color: rgb(254, 249, 249);
   position: relative;
   font-family: 'Gelasio', serif;
}
.itemsbanner ul li .listbn::before
{
   content: "";
   position: absolute;
   bottom: -5px;
   left: 0px;
   width: 0%;
   height: 2px;
   background-color: #fff;
   transition-duration: 0.2s;
} 
.itemsbanner ul li .listbn:hover::before
{
   width: 100%;
}
/* product banner End  */
/* section 1 start  */
.bannercontent
{
    width: 90%;
    height: 48vh;
    margin-top: 2%;
    margin-left: 5%;
}
.bannercontent h2
{
    width: 20%;
    color: navy;
    font-size: 35px;
    margin-top: 3%;
    margin-left: 40%;
    border-bottom: 7px double navy;
    text-align: center;
    font-weight: bold;
    font-family: 'Gelasio', serif;
}
.bannercontent h1
{
    color: navy;
    font-size: 30px;
    margin-top: 1%;
    text-align: center;
    font-weight: bold;
    font-family: 'Gelasio', serif;
}
.bannercontent p
{
    width: 100%;
    height: 37vh;
    font-weight: normal;
    font-size: 18px;
    padding: 30px 70px;
    text-align: justify;
    color: #000; 
    border-bottom: 8px double #000;
    border-color: navy;
    font-family: 'Gelasio', serif;
}
.section1
{
    width: 100%;
    height: 80vh;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1 .pictures
{
    width: 40%;
    height: 60vh;
    margin: 4% 4%;
}
.section1 .pictures img
{
    width: 90%;
    height: 60vh;
    margin: 0% 2%;   
}
.section1 .content
{
    width: 60%;
    height: 60vh;
    margin: 4% 2%; 
}
.section1 .content p
{
    color: #000;
    font-size: 18px;
    padding: 20px 20px;
    text-align: justify;
    font-family: 'Gelasio', serif;
}
.section2
{
    width: 100%;
    height: 80vh;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 .content2
{
    width: 57%;
    height: 64vh;
    margin: 4% 2%; 
    text-align: justify;
}
.section2 .content2 p
{
    color: #000;
    font-size: 18px;
    padding: 50px 20px;
    font-family: 'Gelasio', serif;
}
.section2 .pictures2 img
{
    width: 100%;
    height: 60vh;
    margin: 0% 2%;   
}
.section3
{
    width: 100%;
    height: 80vh;
    margin-top: -2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3 .pictures3
{
    width: 40%;
    height: 60vh;
    margin: 4% 3%;
}
.section3 .pictures3 img
{
    width: 90%;
    height: 60vh;
    margin: 0% 3%;   
}
.section3 .content3
{
    width: 60%;
    height: 60vh;
    margin: 4% 3%; 
}
.section3 .content3 p
{
    color: #000;
    font-size: 18px;
    padding: 40px 30px;
    text-align:justify;
    font-family: 'Gelasio', serif;
}
.section4
{
    width: 100%;
    height: 80vh;
    margin-top: -2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section4 .content4
{
    width: 57%;
    height: 64vh;
    margin: 4% 2%; 
    text-align: justify;
}
.section4 .content4 p
{
    color: #000;
    font-size: 18px;
    padding: 50px 20px;
    font-family: 'Gelasio', serif;
}
.section4 .pictures4 img
{
    width: 90%;
    height: 60vh;
    margin: 0% 2%;   
}
/* section 1 End */
/* section 5 footer start */
  /* div left1 start */
  .footer
  {
    width: 100%;
    height: 100vh;
    position: absolute;
    margin-top: 1%;
    background-color: rgb(7, 7, 87);
  }
  .footer .left1
  {
    width: 20%;
    height: 50vh;
    margin-top: 5.8%;
    margin-left: 70px;
    position: relative;
    border-left: 4px solid #fff;
  }
  .footer .left1::before
  {
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    width: 4px;
    height: 25px;
    background-color: navy;
    animation: movelines 4s linear infinite;
  }
  @keyframes  movelines
  {
    50%
    {
      top: 90%;
    }
    100%
    {
      top: 0;
    }
    150%
    {
      top: 90%;
    }
  }
  .footer .left1 h1
  {
    color: #fff;
    font-size: 25px;
    padding: 5px 35px;
   
  }
  .footer .left1 a span
  {
    color: rgba(224, 220, 220, 0.753);
    font-size: 17px;
    display: block;
    padding: 12px 20px;
  }
  .footer .left1 a span:hover
  {
    color: #fff;
    font-size: 18px;
  }
    /* div left1 End */
    /* div center start */
    .center
    {
      width: 53%;
      height: 55vh;
      margin-left: 23%;
      display: flex;
      margin-top: -15.5%;
    }
    .center .centerleft
    {
      width: 55%;
      height: 50vh;
      padding: 0px 10px;
      margin-top: -15%;
      margin-left: 10%;
      position: relative;
      border-left: 4px solid #fff;
    }
    .center .centerleft::before
    {
      content: "";
      position: absolute;
      top: 0;
      left: -4px;
      width: 4px;
      height: 25px;
      background-color: navy;
      animation: movelines 4s linear infinite;
    }
    @keyframes  movelines
  {
    50%
    {
      top: 90%;
    }
    100%
    {
      top: 0;
    }
    150%
    {
      top: 90%;
    }
  }
    .center .centerleft h1
    {
      color: #fff;
      font-size: 25px;
      padding: 5px 35px;
     
    }
    .center .centerleft span
    {
      color: rgba(255, 255, 255, 0.566);
      padding: 12px 20px;
      display: block;
      font-size: 17px;
    }
    .center .centerleft span:hover
    {
      color: #fff;
      font-size: 18px;
    }
    .center .centerRight
    {
      width: 55%;
      height: 50vh;
      padding: 0px 10px;
      margin-top: -15%;
      margin-left: 10%;
      position: relative;
      border-left: 4px solid #fff;
    }
    .center .centerRight::before
    {
      content: "";
      position: absolute;
      top: 0;
      left: -4px;
      width: 4px;
      height: 25px;
      background-color: navy;
      animation: movelines 4s linear infinite;
    }
    @keyframes  movelines
  {
    50%
    {
      top: 90%;
    }
    100%
    {
      top: 0;
    }
    150%
    {
      top: 90%;
    }
  }
    .center .centerRight h1
    {
      color: #fff;
      font-size: 25px;
      padding: 5px 30px;
    }
    .center .centerRight span
    {
      color: rgba(255, 255, 255, 0.566);
      padding: 12px 20px;
      display: block;
      font-size: 17px;
    }
    .center .centerRight span:hover
    {
      color: #fff;
      font-size: 18px;
    }
    /* div center End*/
     /* div left2 start */
     .footer .left2
     {
       width: 18%;
       height: 50vh;
       padding: 0px 10px;
       margin-left: 82%;
       margin-top: -34.5%;
       position: relative;
       border-left: 4px solid #fff;
     }
     .footer .left2::before
     {
      content: "";
      position: absolute;
      top: 0;
      left: -4px;
      width: 4px;
      height: 25px;
      background-color: navy;
      animation: movelines 4s linear infinite;
     }
     @keyframes  movelines
     {
       50%
       {
         top: 90%;
       }
       100%
       {
         top: 0;
       }
       150%
       {
         top: 90%;
       }
     }
     .footer .left2 h1
     {
       color: #fff;
       font-size: 25px;
       padding: 5px 30px;
     }
     .footer .left2 a span
     {
      color: rgba(224, 220, 220, 0.753);
       font-size: 17px;
       display: block;
       padding: 12px 20px;
     }
     .footer .left2 a span:hover
     {
       color: #fff;
       font-size: 18px;
     }
    /* div left2 End */
    /* barand pictures logo start  */
    .brands_logo_picture
    {
      width: 60%;
      height: 15vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 4%;
      margin-left: 21%;
    }
    .brands_logo_picture a img
    {
      width: 100%;
      height: 10vh;
    }
    .brands_logo_picture a img:hover
    {
      width: 101%;
      height: 11vh;
    }
     /* barand pictures logo start  */
     /* logoicon start */
     .iconpics1
     {
       width: 90%;
       height: 15vh;
       margin-top: 0.5%;
       margin-left: 7%;
       display: flex;
     }
     .iconpics1 a img
     {
       width: 30px;
       height: 5vh;
       margin: -15% 3%;
     }
     .iconpics1 a img:hover
     {
       width: 33px;
       height: 5.5vh;
       margin: -15% 3%;
     }
     .iconpics1 a 
     {
       color: #fff;
       font-size: 16px;
       margin: 1% 0.5%;
     }
     .iconpics2
     {
      width: 30%;
      height: 10vh;
      margin-top: -7%;
      margin-left: 35%;
      display: flex;
     }
     .iconpics2 a img
     {
       width: 32px;
       height: 6vh;
       margin: -15% 8%;
     }
     .iconpics2 a img:hover
     {
       width: 34px;
       height: 6.5vh;
       margin: -15% 8%;
     }
     .iconpics2 a 
     {
       color: #fff;
       font-size: 16px;
       margin: 3% 2%;
     }
     .iconpics3
     {
      width: 30%;
      height: 10vh;
      margin-top: -3%;
      margin-left: 65%;
      display: flex;
     }
     .iconpics3 a img
     {
       width: 40px;
       height: 5vh;
       margin: -4% 4%;
     }
     .iconpics3 a img:hover
     {
       width: 43px;
       height: 5.5vh;
       margin: -7% 4%;
     }
     .iconpics3 a 
     {
       color: #fff;
       font-size: 16px;
       margin: -2% 1%;
     }
    /* logoicon End */
    #upicon
    {
      width: 5%;
      height: 10%;
      position: absolute;
      margin-top: -5%;
      margin-left: 94%;
      background-color: rgb(7, 7, 87);
      outline: none;
      border: none;
      cursor: pointer;
    }
    #upicon img
    {
      width: 100%;
      height:auto;
    }
    #upicon img:hover
    {
      width: 110%;
      height:60px;
    }
    /* section 5 footer  End */
